<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Home">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="About">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="List">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>



<ion-content>

</ion-content>
