// Simo Partanen 1900414
// Inessa Rif    1901057
// Daniel Rif    1901058

<ion-app>
  
</ion-app>

<ion-tabs>
  <ion-tab-bar slot="bottom">
  <ion-tab-button routerLinkActive="tab-selected" routerLink="/home" class="ios" tab="home">
    <ion-icon name="add-circle"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/song" class="ios" tab="song">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Add song</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/edit" class="ios" tab="edit">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Edit</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/list" class="ios" tab="list">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Playlist</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/about" class="ios" tab="about">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>



